*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFFFFF;
}

#contenedor {
    background: #5F76A0;
    
    width: 1400px;
    height: 4800px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    width: 98%;
    height: 4%;
    padding: 5px;
    background: #176CC8;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}






















#header h1{
    display: inline;
    font-size: 32px;
    font-family: monospace;
    color: #FFFFFF;
}
#menu .menu li{
    position: relative;
}
#menu{
    display: flex;
    width: 98%;
    height: 1.5%;
    background: #176CC8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#horario{
    width: 98%;
    height: 90.7%;
    padding: 5px;
    background: #176CC8;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


#subtitulo_p{
    font-size: 25px;
    font-family: monospace;
    color: #7BE3FF;
    text-align: center;
    margin-top: 30px;
}

#parr_1{

    font-size: 18px;
    font-family: monospace;
    color: #FFFFFF;
    margin-left: 10px;
}

#imagen_1{
    margin-left: 20px;
    margin-bottom: 55px;

    display: inline;
    
}

#imagen_2{
    margin-left: 20px;
    margin-top: 30px;

    display: inline;
    
}

#imagen_3{
    margin-left: 180px;
    margin-right: 60px;
    margin-bottom: 285px;

    display: inline;
    
}

#imagen_4{
    margin-left: 40px;
    margin-right: 40px;
    

    display: inline;
    
}

#imagen_5{

    

    display: flex;
    margin-left: auto;
    margin-right: auto;

    
}

#menu .menu{
    display: flex;
}
#menu .menu li a{
    background: #6097FF;
    display: block;
    padding: 20px 22px;
    margin: 2px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF ;
    min-width: 224.5px;
    transition: all 300ms ease;
}
#menu .menu li a:hover{
    background: #80ACFF ;
    color:#FFFFFF;
}
#menu .smenu{
    position: absolute;
    top: 130%;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}
#menu .menu li:hover .smenu{
    top: 100%;
    visibility: visible;
    opacity: 1;
}
#subheader{
   background-color: #176CC8; 
   width: 98%;
   height: 2%;
   padding: 5px;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
    justify-content: center;
    align-items: center;
}
#subheader h2{
    display: inline;
    font-size: 32px;
    font-family: monospace;
    color: #FFFFFF;
}

#tabla1{
    

    border: 2px solid #000;
    padding: 1px;
    border-collapse: collapse;
    width: 1000px;
    height:400px;
    margin-right: 40px;
    margin-top: 40px;
}
#tabla1 td{
    border: 1px solid #000;
}


table td a{
    text-decoration: none;
    padding: 20px;
    display: block;
}
#tabla1 td a:hover{

}
#tabla1 .cat a{
    background: #ffffb3;
}
#tabla1 .ayu a{
    background: #80ff80;
}
#tabla1 .none a{
    background:  #e6ffe6;
    color:  #e6ffe6;
}
#tabla1 .lab a{
    background: #80d4ff;
}
#tabla1 .hora a{
    background: #eeffcc;
}


#tabla1 .cat a:hover{
    background: #ffff66;
}
#tabla1 .ayu a:hover{
    background: #00e600;
}
#tabla1 .none a:hover{
    background:  #e6ffe6;
    color:  #e6ffe6;
}
#tabla1 .lab a:hover{
    background: #00aaff;
}
#tabla1 .hora a:hover{
    background: #eeffcc;
}

#tabla2{
    margin-left: 40px;
    margin-top: 40px;
    border: 2px solid #000;
    padding: 1px;
    border-collapse: collapse;
    width: 200px;
    height: 200px;
}
#tabla2 td{
    border: 1px solid #000;
    
}
#tabla2 td h4{
    text-decoration: none;
    padding: 20px;
    display: block;
}
#tabla2 .cat h4{
    background: #ffffb3;
}
#tabla2 .ayu h4{
    background: #80ff80;
}
#tabla2 .lab h4{
    background: #80d4ff;
}
#tabla2 .none h4{
    background:  #e6ffe6
}

#tabla1 a{
    font-family: monospace;
    font-size: 14px;
    color: #000;
}
#tabla2 h4{
    font-family: monospace;
    font-size: 14px;
    color: #000;
}

